.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#everything{
    display: flex;
    height: 100vh;
    overflow: hidden;
    outline: hidden;
    justify-content: center;
    align-items: center;
}


#calculator{
    background: #0d0b1a;
    border-radius: 10px;
    height: 38vh;
    width: 45vh;
}

button{
    background: none;
    border: none;
}

#screen, button{
    color: white;
    height: 30px;
    font-size: medium;
    text-align: center;

}

#screen{
    text-align: right;
    padding-top: 20px;
    padding-right:10px;
    font-size: 20px;
}

#operations{
    display: flex;
    flex-wrap: wrap;
}
#operations > *{
    flex: 0 0 20%;
    background: indianred;
    height: 6vh;
}

#numbers{
    display: flex;
    flex-wrap: wrap;
    height: 25vh;
    align-items: center;
}

#numbers>*{
    flex: 0 0 33.333333%;
}
